.dashbox{
    background: rgba(255, 255, 255, 0.03);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.5px);
-webkit-backdrop-filter: blur(3.5px);
border: 1px solid rgba(255, 255, 255, 0.16);
}

.btnconf{
    background-color: #6D54B5 !important;
    color: rgb(200, 219, 236);
}
